.container {
	background-color: #2a272e;
	width: 100%;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.row1,
.row2 {
	display: flex;
	flex-direction: row;
}

.headline {
	font-size: 48px;
	font-weight: 600;
	color: #fff;
}

.socials ul {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.socials ul li {
	list-style: none;
	background-color: #881fef;
	padding: 10px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.HeroImg {
	width: 45%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.gradient1 {
	position: absolute;
	background-color: #8844f7;
	height: 50px;
	width: 50px;
	border-radius: 280px;
	z-index: 0;
	/* top: 2px;
	right: 10px; */
	filter: blur(30px);
}

.HeroImgClass {
	z-index: 2;
}

.gradient2 {
	position: absolute;
	z-index: 0;
	/* bottom: -20px;
	left: 50px; */
	filter: blur(50px);
}

.row2 {
	width: 100%;
	justify-content: space-between;
}
