.section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}

.section h2 {
	font-size: 32px;
	font-weight: 500;
	color: #2c2576;
}

.scroller__inner {
	padding-block: 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 4.5rem;
	font-size: 28px;
	height: 100%;
}

.scroller__inner li {
	height: 100%;
	padding: 0px 10px;
	border-radius: 20px;
}

.scroller {
	max-width: 100%;
	overflow: hidden;
	/* -webkit-mask: linear-gradient(
		90deg,
		transparent,
		white 10%,
		white 90%,
		transparent
	); */
	/* mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent); */
}

.scroller .scroller__inner {
	width: max-content;
	flex-wrap: nowrap;
	animation: scroll 40s forwards linear infinite;
}

@keyframes scroll {
	to {
		transform: translate(calc(-50% - 2.25rem));
	}
}

.tagList {
	margin: 0;
	padding-inline: 0;
	list-style: none;
}

/* @media (prefers-color-scheme: dark) {
	.section h2 {
		color: #fff;
	}

	.scroller__inner li {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 84px;
		background-color: rgba(255, 255, 255);
	}
} */

@media (max-width: 768px) {
	.section {
		padding: 3rem 0rem;
		gap: 2rem;
	}
	.scroller__inner {
		gap: 1rem;
	}

	@keyframes scroll {
		to {
			transform: translate(calc(-50% - 0.5rem));
		}
	}
}
