@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@400&display=swap');
body {
	margin: 0;
	line-height: normal;
}
:root {
	color-scheme: light;
	/* fonts */
	--font-inter: Inter;
	--font-sometype-mono: 'Sometype Mono';
	--font-poppins: Poppins;
	--font-noto-sans: 'Noto Sans';
	--font-inria-sans: 'Inria Sans';

	/* font sizes */
	--font-size-5xl: 24px;
	--font-size-lgi: 19px;
	--font-size-45xl: 64px;
	--font-size-19xl: 38px;
	--font-size-32xl: 51px;
	--font-size-xl: 20px;
	--font-size-base: 16px;
	--font-size-29xl: 48px;
	--font-size-10xl: 29px;
	--font-size-17xl: 36px;
	--font-size-3xl: 22px;
	--font-size-13xl: 32px;
	--font-size-7xl: 26px;
	--font-size-35xl: 54px;
	--font-size-24xl: 43px;

	/* Colors */
	--color-white: #fff;
	--color-lavender-100: #f9ecff;
	--color-lavender-200: rgba(249, 237, 255, 0.51);
	--color-thistle-100: #d8cbff;
	--color-thistle-200: #dec3eb;
	--color-thistle-300: rgba(234, 201, 250, 0.51);
	--color-black: #000;
	--color-blueviolet-100: #a043fa;
	--color-blueviolet-200: #8951f7;
	--color-blueviolet-300: #881fef;
	--color-darkslateblue-100: #4d3589;
	--color-midnightblue: #2c2576;
	--color-whitesmoke: #f5f5f5;
	--color-gainsboro-100: #e6e6e6;
	--color-dimgray-100: #666;
	--color-dimgray-200: #5c5c5c;
	--color-ghostwhite: #f7f3ff;
	--color-mediumslateblue: #ad79ff;
	--color-mediumorchid: #b76cff;
	--color-darkorchid: #9e52e6;
	--color-slateblue-100: #6b54bf;
	--color-slateblue-200: #3641b6;

	/* Gaps */
	--gap-80xl: 99px;
	--gap-39xl: 58px;
	--gap-2xl: 21px;
	--gap-xl: 20px;
	--gap-16xl: 35px;
	--gap-14xl: 33px;
	--gap-0: 0px;
	--gap-smi: 13px;
	--gap-5xl: 24px;
	--gap-13xl: 32px;
	--gap-136xl: 155px;
	--gap-sm: 14px;
	--gap-52xl: 71px;
	--gap-227xl: 246px;
	--gap-97xl: 116px;
	--gap-237xl: 256px;
	--gap-25xl: 44px;
	--gap-lgi: 19px;
	--gap-base: 16px;
	--gap-2xs: 11px;
	--gap-7xl: 26px;

	/* Paddings */
	--padding-9xl: 28px;
	--padding-8xl: 27px;
	--padding-xl: 20px;
	--padding-base: 16px;
	--padding-17xl: 36px;
	--padding-32xl: 51px;
	--padding-18xl: 37px;
	--padding-34xl: 53px;
	--padding-11xl: 30px;
	--padding-20xl: 39px;
	--padding-7xs: 6px;
	--padding-27xl: 46px;
	--padding-72xl: 91px;
	--padding-40xl: 59px;
	--padding-lgi: 19px;
	--padding-5xs: 8px;
	--padding-30xl: 49px;
	--padding-1327xl: 1346px;
	--padding-13xl: 32px;
	--padding-45xl: 64px;
	--padding-24xl: 43px;
	--padding-2xl: 21px;
	--padding-23xl: 42px;
	--padding-190xl: 209px;
	--padding-86xl: 105px;
	--padding-638xl: 657px;
	--padding-117xl: 136px;
	--padding-408xl: 427px;
	--padding-38xl: 57px;
	--padding-162xl: 181px;
	--padding-69xl: 88px;
	--padding-33xl: 52px;
	--padding-259xl: 278px;
	--padding-smi-7: 12.7px;
	--padding-16xl: 35px;
	--padding-base-7: 16.7px;
	--padding-sm: 14px;
	--padding-113xl: 132px;
	--padding-37xl: 56px;
	--padding-67xl: 86px;
	--padding-8xs: 5px;
	--padding-2xs: 11px;
	--padding-5xl: 24px;
	--padding-14xl: 33px;
	--padding-39xl: 58px;
	--padding-10xl: 29px;
	--padding-12xs: 1px;
	--padding-7xl: 26px;
	--padding-4xl: 23px;
	--padding-43xl: 62px;
	--padding-mini: 15px;
	--padding-198xl: 217px;
	--padding-4xs: 9px;
	--padding-9xs: 4px;
	--padding-11xs: 2px;
	--padding-6xl: 25px;
	--padding-21xl: 40px;
	--padding-12xl: 31px;
	--padding-100xl: 119px;
	--padding-58xl: 77px;
	--padding-22xl: 41px;

	/* Border radiuses */
	--br-3xs: 10px;
	--br-xl: 20px;
	--br-sm-4: 13.4px;
	--br-xs: 12px;
	--br-515xl-3: 534.3px;
	--br-11xl: 30px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: rgb(var(--foreground-rgb));
	height: 100vh;
	/* background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb)); */
}

a {
	color: inherit;
	text-decoration: none;
}
/* 
@media (prefers-color-scheme: dark) {
	html {
	}
} */
