.HeroContainer {
  padding: 7rem 5rem;
  display: flex;
  flex-direction: row;
}

.HeroText {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.HeroText h1 {
  font-size: 54px;
  font-weight: 700;
}

.HeroText p {
  width: 80%;
  font-size: 32px;
  font-weight: 400;
}

.HeroBtnGroup {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.ColorBtn1 {
  background: linear-gradient(to right, #824af7, #b66cff);
  padding: 15px 45px;
  border-radius: 30px;
  font-size: 20px;
  box-shadow: 0 4px 4px #9b76d8;
}

.LightBtn1 {
  background: #fff;
  color: #8951f7;
  padding: 15px 45px;
  border-radius: 30px;
  font-size: 20px;
  box-shadow: 0 4px 4px #c4b2e2;
}

.ColorBtn1:hover,
.LightBtn1:hover {
  cursor: pointer;
}

.HeroImg {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gradient1 {
  position: absolute;
  background-color: #8844f7;
  height: 280px;
  width: 280px;
  border-radius: 280px;
  z-index: -1;
  top: 20px;
  right: 100px;
  filter: blur(200px);
}

.gradient2 {
  position: absolute;
  z-index: -1;
  bottom: -200px;
  left: 50px;
  filter: blur(100px);
}

@keyframes heroAnimation {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.HeroImgClass {
  animation: heroAnimation 2s ease-in-out 0s infinite;
}

.textAreaSection {
  width: 100%;
  padding: 3rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.textArea3 {
  width: 85%;
  font-size: 28px;
}
.centerContainer {
  padding: 10rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .centerContainer {
    gap: 156px;
  }
}

.visionContainer {
  padding: 43px 10px;
  display: flex;
  width: 80%;
  flex-direction: column;
  border-radius: 20px;
  gap: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
  .visionContainer {
    padding: 43px 64px;
  }
}

.visionHeadline {
  font-size: 48px;
  font-weight: 600;
  color: #881fef;
}

.visionBody {
  font-size: 22px;
  text-align: center;
  color: #666;
}

.ClientContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.ClientHeadline {
  font-size: 64px;
  font-weight: 700;
}

.ClientBody {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .ClientBody {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 25px;
  }
}

.ClientLogo {
  background-color: #fff;
  height: 256px;
  width: 256px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ClientContent {
  width: 40%;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}
@media (max-width: 768px) {
  .ClientContent {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .HeroContainer {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  .HeroText {
    width: 90%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .HeroText h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  }
  .HeroText p {
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .HeroImgClass {
    width: 200px;
    height: 200px;
  }

  .HeroBtnGroup {
    flex-direction: column;
    width: 100%;
  }

  .ColorBtn1,
  .LightBtn1 {
    width: 100%;
  }

  .textAreaSection {
    padding: 0rem;
  }

  .textArea3 {
    font-size: 24px;
    font-weight: 600;
  }
}

/* @media (prefers-color-scheme: dark) {
	.visionContainer {
		background-color: #2a1d3d;
	}
	.visionHeadline {
		color: #fff;
	}

	.visionBody {
		color: #ccc;
	}
} */
